/* general */
*{
	box-sizing: border-box;
	-webkit-backface-visibility: hidden;
}
body{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
a{
	color: #7F7F7F;
}
#outer-container{
	max-width: 960px;
}
/* viz */
text{
	font: 24px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-anchor: middle;
	pointer-events: none;
}
.legend text.legend-text{
	text-anchor: start;
	font-size: 12px;
	pointer-events: auto;
}
.legend g{
	cursor: pointer;
}
circle{
	fill: #ccc;
}
g.parent-node circle{
	fill: none !important;
	stroke: none !important;
}
.node:hover circle{
	stroke: black;
	stroke-width: 3px;
}
.node.selected circle {
	stroke: red;
	stroke-width: 3px;
}
.top circle{
	fill: none;
	stroke: silver;
}
/* viz container */
#visu{
	float: left;
}
#visu-title, #tweet-list-title{
	height: 20px;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
}
#tweet-list-title{

}
#tweets-container{
	width:300px;
	float:left;
}
/* tooltip */
.tooltip{
	stroke: silver;
	pointer-events: none;
	display: none;
	fill: white;
	opacity: .9;
}
.tooltip text{
	fill: black;
	stroke: none;
	font-size: 24px;
}
/* tweet list */
#list-container{
	width: 100%;
	height: 380px;
	overflow: auto;
	overflow-x: hidden;
	padding-top: 30px;
}
.tweet-list{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.tweet-list li.tweet-list-element{
	height: 70px;
	border-bottom: 1px #eee solid;
	padding-top: 5px;
	display: block;
	font-size: 13px;
	line-height: 16px;
	color: #333;
	text-decoration: none;
}
.twitter-link{
	font-size: 13px;
	line-height: 16px;
	color: #7F7F7F;
	text-decoration: none;
 }
.selected{
	background-color: aliceblue;
}
.keyword{
	color: gray;
}
.tweet-info{
	float: left;
}
.tweet-text{
	margin-left: 50px;
	color: #333;
}
.tweet-list li.displayed-selected{
	border: 3px solid black;
}
#selection-info{
	float: left;
	width: 600px;
	height: 20px;
	margin-left: 60px;
	padding-bottom: 50px;
}
.info-date, .info-count{
	font-size: 18px;
	line-height: 18px;
}
.info-date{
	font-weight: bold;
}
/* selected tweet */
#selected-tweet{
	width: 100%;
	height: 150px;
	color: black;
	font-size: 32px;
	padding-top: 10px;
	float: left;
}
.date{
	font-size: 20px;
}
#visu-container{
	width: 600px;
	float: left;
}
#embedded-tweet-container{
	width: 300px;
	height: 250px;
	float: left;
	opacity: 0;
	margin-bottom: 15px;
}
#embedded-tweet-container iframe{
	height: 100%;
}
/* timeline */
#slider-container{
	height: 70px;
	width: 600px;
	float: left;
	top: 0;
	background-image: url('timeline3.png');
	background-repeat: no-repeat;
	background-position: 102px 0px;
	background-size: 485px;
}
.slider{
	margin-top: 8px;
}
.slider-bg{
	cursor: pointer;
}
.slider-bg-styling
{
	/*background-color: silver;*/
	height: 1px;
	cursor: pointer;
	top: 7px
}
.slider-handle, .playback-button, .next-button, .previous-button{
	cursor: pointer;
	border-radius: 5px;
	background-repeat: no-repeat;
	margin-top: -7px;
}
.slider-handle{
	background-color: #d40000;
	border-radius: 10px;
	width: 9px !important;
	height: 30px !important;
	margin-top: -7px;
}
.playback-button.play{
	background-image: url('play3.png');
}
.playback-button.pause{
	background-image: url('pause3.png');
}
.next-button{
	background-image: url('next3.png');
}
.previous-button{
	background-image: url('prev3.png');
}
.axis-line{
	background-color: black;
}

/* responsive */
@media (max-width: 1000px){
	#selection-info,
	#slider-container,
	#tweets-container,
	#visu,
	#visu-container{
		float: none;
		width: 100%;
	}
	#selection-info{
		margin: 0;
		text-align: center;
	}
	#tweets-container{
		margin: 0 auto;
		width: 320px;
	}
	#visu{
		text-align: center;
	}
}
@media (max-width: 650px){
	#slider-container{
		background-position: 0 0;
		background-size: contain;
		left: 0;
		height: 85px;
	}
	.slider-container{
		left: 0 !important;
	}
	.slider{
		height: 85px !important;
		width: 100% !important;
	}
	.slider-bg,
	.slider-bg-styling{
		width: 100% !important;
	}
	.playback-container{
		height: 18px;
		margin-left: -45px;
		left: 50% !important;
		top: 50px !important;
		width: 90px;
	}
	#visu svg {
		max-width: 100% !important;
	}
}