/* general */
*{
	box-sizing: border-box;
	-webkit-backface-visibility: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select:none;
	user-select:none;
	pointer-events: none;
}
div{
	-webkit-backface-visibility: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select:none;
	user-select:none;
}
a{
	color: #7F7F7F;
}
#outer-container{
	max-width: 960px;
}
/* viz */
svg{
	-webkit-backface-visibility: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select:none;
	user-select:none;
}
svg text{
	font: 24px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-anchor: middle;
	pointer-events: none;
}
circle{
	fill: #ccc;
	pointer-events: all;
}
g.parent-node circle{
	fill: none !important;
	stroke: none !important;
}
.node:hover circle{
	stroke: black;
	stroke-width: 3px;
}
.node.selected circle {
	stroke: red;
	stroke-width: 3px;
}
.top circle{
	fill: none;
	stroke: silver;
}
/* viz container */
#visu{
	float: left;
}
#visu-title, #tweet-list-title{
	height: 20px;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
}
#tweet-list-title{

}
#tweets-container{
	width: 300px;
	float: left;
}
/* tooltip */
.tooltip{
	stroke: silver;
	display: none;
	fill: white;
	opacity: .9;
}
.tooltip text{
	fill: black;
	stroke: none;
	font-size: 24px;
}
/* tweet list */
#list-container{
	width: 100%;
	height: 380px;
	overflow: auto;
	overflow-x: hidden;
	padding-top: 30px;
	pointer-events: auto;
}
.tweet-list{
	list-style-type: none;
	padding: 0;
	margin: 0;
	pointer-events: auto;
}
a{
	pointer-events: auto;
}
.tweet-list li.tweet-list-element{
	height: 70px;
	border-bottom: 1px #eee solid;
	padding-top: 5px;
	display: block;
	font-size: 13px;
	line-height: 16px;
	color: #333;
	text-decoration: none;
}
.twitter-link{
	font-size: 13px;
	line-height: 16px;
	color: #7F7F7F;
	text-decoration: none;
 }
.selected{
	background-color: aliceblue;
}
.keyword{
	color: gray;
}
.tweet-info{
	float: left;
}
.tweet-text{
	margin-left: 50px;
	color: #333;
}
.tweet-list li.displayed-selected{
	border: 3px solid black;
}
#selection-info{
	float: left;
	width: 600px;
	height: 20px;
	margin-left: 60px;
	padding-bottom: 50px;
}
.info-date, .info-count{
	font-size: 18px;
	line-height: 18px;
}
.info-date{
	font-weight: bold;
}
/* selected tweet */
#selected-tweet{
	width: 100%;
	height: 150px;
	color: black;
	font-size: 32px;
	padding-top: 10px;
	float: left;
}
.date{
	font-size: 20px;
}
#visu-container, #visu{
	width: 600px;
	float: left;
}
#embedded-tweet-container{
	width: 300px;
	height: 250px;
	float: left;
	opacity: 0;
	margin-bottom: 15px;
	pointer-events: all;
}
#embedded-tweet-container iframe{
	height: 100%;
	pointer-events: all;
}
/* timeline */
#slider-container{
	height: 70px;
	width: 500px;
	float: left;
	top: 0;
}
.slider-group{
	position: absolute;
	width: 450px;
	left: 100px;
}
.slider{
	margin-top: 8px;
}
.slider-bg{
	cursor: pointer;
	height: 40px;
	width: 550px;
	pointer-events: all;
}
.slider-img{
	cursor: pointer;
	height: 50px;
	width: 470px;
	pointer-events: none;
}
.slider-handle, .playback-button, .next-button, .previous-button{
	cursor: pointer;
	border-radius: 5px;
	background-repeat: no-repeat;
	margin-top: -7px;
	pointer-events: all;
}
.slider-handle{
	background-color: #d40000;
	border-radius: 10px;
	width: 9px !important;
	height: 30px !important;
	margin-top: -7px;
}
.playback-button.play{
	background-image: url('play3.png');
}
.playback-button.pause{
	background-image: url('pause3.png');
}
.next-button{
	background-image: url('next3.png');
}
.previous-button{
	background-image: url('prev3.png');
}
.axis-line{
	background-color: black;
}

/* responsive */
@media (max-width: 1000px){
	#selection-info,
	#tweets-container,
	#visu,
	#visu-container{
		float: none;
		width: 600px;
	}
	#slider-container{
		height: 70px;
		width: 600px;
	}
	.slider-bg{
		width: 600px !important;
		/*background-position: 0px 0px;*/
		/*background-size: 590px;*/
	}
	.slider-img{
		width: 585px;
		height: auto;
	}
	#selection-info{
		margin: 0;
		text-align: center;
	}
	#tweets-container{
		margin: 0 auto;
		width: 320px;
	}
	#visu{
		text-align: center;
	}
	#tweets-container{
		clear: both;
	}
}
@media (max-width: 650px){
	.slider-handle{
		width: 40px !important;
	}
	#slider-container{
		height: 70px;
		width: 100%;
	}
	.slider{
		height: 85px !important;
		width: 100% !important;
	}
	.slider-img{
		width: 100%;
		height: auto;
		padding-right: 30px;
	}
	.slider-bg{
		width: 100% !important;
		background-position: 0px 0px;
		background-size: 350px;
	}
	.slider-group{
		left: 10px;
		width: 100%
	}
	.playback-container{
		height: 18px;
		margin-left: -45px;
		left: 50% !important;
		top: 50px !important;
		width: 90px;
	}
	.playback-group{
		padding-top: 50px;
		margin: 0 auto;
		width: 100px;
	}
	#visu-container, #visu, #selection-info{
		width: 100%;
	}
	.next-button{
	}
	#tweets-container{
		padding-top: 40px;
	}
}
/*@media (orientation: landscape) {*/
	/*#visu-container{*/
		/*width: 100%;*/
	/*}*/
	/*#visu{*/
		/*width: 300px;*/
		/*margin: 0 auto;*/
	/*}*/
/*}*/